<% if (title) {%>
    <h1>
        <%= title %>
    </h1>
<% } else { res.redirect('/') } %>

<script src="/js/show_password.js" defer></script>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
    <% }) %>
    </ul>
    <% } %>

<form id="register" action="/account/signup" method="post">
    <label for="account_firstname">
        First Name:
        <input type="text" name="account_firstname" id="accountFirstname" required title="First Name" value="<%= locals.account_firstname %>">
    </label>
    <label for="account_lastname">
        Last Name:
        <input type="text" name="account_lastname" id="account_lastname" required title="Last Name" value="<%= locals.account_lastname %>">
    </label>
    <label for="account_email">
        Email Address:
        <input type="email" name="account_email" id="account_email" required title="Email Address" value="<%= locals.account_email %>">
    </label>
    <label for="account_password">
        Password:
        <div class="show_password">
            <input type="password" name="account_password" id="account_password" required title="Password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
            <img id="showOrHide" src="/images/password/eye.svg" alt="Show Password">
        </div>
    </label>
    <div>Password Requirments: 12 characters minimum, 1 capital letter, 1 number, 1 special character</div>
    <input type="submit" value="Sign Up">
</form>