<!-- This is the content heading -->
<% if (title) {%>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error=> { %>
        <li>
            <%= error.msg %>
        </li>
    <% }) %>
    </ul>
<% } %>

<form id="edit-inventory-form" action="/inv/edit-inventory" method="post">
    <fieldset>
        <legend>Basic Information</legend>
        <label for="inv_make">
            Make:
            <input type="text" name="inv_make" id="inv_make" required value="<%= locals.inv_make %>">
        </label>
        <label for="inv_model">
            Model:
            <input type="text" name="inv_model" id="inv_model" required value="<%= locals.inv_model %>">
        </label>
        <label for="inv_year">
            Year:
            <input type="number" name="inv_year" id="inv_year" required min="1900" max="2027" value="<%= locals.inv_year %>">
        </label>
        <label for="classification_id">
            Classification Type:
            <%- classificationSelect %>
        </label>
    </fieldset>

    <fieldset>
        <legend>Extra Information</legend>
        <label for="inv_color">
            Color:
            <input type="text" name="inv_color" id="inv_color" required value="<%= locals.inv_color %>">
        </label>
        <label for="inv_miles">
            Miles:
            <input type="number" name="inv_miles" id="inv_miles" required value="<%= locals.inv_miles %>">
        </label>
        <label for="inv_price">
            Price:
            <input type="number" name="inv_price" id="inv_price" required value="<%= locals.inv_price %>">
        </label>
        <label for="inv_description">
            Description:
            <textarea id="inv_description" name="inv_description" rows="4" cols="10" required><%= locals.inv_description %></textarea>
        </label>
    </fieldset>

    <!-- editing images privatly -->
    <input type="hidden" id="inv_image" name="inv_image" value="/images/vehicles/no-image.png">
    <input type="hidden" id="inv_thumbnail" name="inv_thumbnail" value="/images/vehicles/no-image-tn.png">

    <input type="submit" class="submitBtns" id="grabme" value="Update <%=locals.inv_make %> <%=locals.inv_model%>" disabled>
    <input type="hidden" name="inv_id"
    <% if(locals.inv_id) { %> value="<%=locals.inv_id %>"
    <% } %>>
    <script src="../../js/inv-update.js" defer></script>
</form>